
main {
    width: 600px;
    margin: 100px auto;
    color: white;
    text-shadow: 0px 0px 1px black;
    padding: 2% ;
    background-color: chocolate;
    border-radius: 15px;


}

.container{
    
    /* border: 3px solid rebeccapurple; */
    display: grid;
    grid-template-columns: calc(100% / 2.5) auto calc(100% / 2.5);
    background-color:  burlywood;
    padding: 2%;
    border-radius: 10px;
    margin: auto;
    justify-content: space-around;
    text-align: center;
    height: 50vh;
   
}

.GAME-BTN-ZONE {
    display: grid;
    grid-template-columns: calc(100% / 2.5) auto calc(100% / 2.5);
    margin-top: 80px;
}

.Real-live-time-and-Reset{
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 2%;
    justify-content: space-between;
}


.away-buttons, .home-buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    padding: 5px;
}

.time-btns {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    row-gap: 30px;
    margin-top: -10px;
}


#home-team-score, #away-team-score{
   font-size: 4rem;
   border-radius: 50%;
}

.write-up{
    line-height: 0.7rem;
    
}

.clock{
    display: flex;
    justify-content: space-between;
}

.Versus-box, .home-team-box, .away-team-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: larger;
    font-weight: bold;
    
}
.Versus-box{
    margin: 20px auto 25px;
    font-size: x-large;
}
.score-dot{
   margin-top: -10px;
    font-size: 2rem;
}


button{
    height: 3rem;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

footer{
    margin: 5px auto;
    text-shadow: 0px 0px 3px black;
    text-align: center;
   
   }
   

   .fab{
    color: white;
    font-size: larger;
    margin-top: 5%;

   }

   .fab:hover{
    color: black;
   }

   .social-icons{
    display: flex;
    gap: 7%;
    margin: auto;
    justify-content: center;
   }


@media (max-width: 710px) {

    main {
        width: 100%;
        margin: 0px;
        box-sizing: border-box;
    }
}
